.cancellation {
  position: relative;
  width: 100%;
  /* height: 610px; */
}

.header__cancellation {
  /* display: flex;
  align-items: center;
  padding-bottom: 36px; */
  width: 265px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.8);

  @media screen and (min-width: 768px) {
padding-bottom: 16px;
    }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    padding-bottom: 36px;
  }
}

.header__playback {
  /* display: flex;
  align-items: center; */
  width: 120px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.8);
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }
}

.header__title {
  width: 335px;
  padding-top: 32px;
  font-weight: 600;
  font-size: 38px;
  line-height: 100%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #e7e7e7;

  @media screen and (min-width: 768px) {
    width: 289px;
    font-size: 42px;
  padding-top: 100px;
  }

  @media screen and (min-width: 1200px) {
    width: 450px;
    font-size: 54px;
    height: 148px;
    margin-left: 60px;
    padding-top: 94px;
    margin-bottom: 86px;
  }
}

.header-order__button {
  width: 420px;
  height: 68px;
  /* margin-left: 100px; */
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: #df3d3a;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.9);

  @media screen and (min-width: 768px) {
    width: 294px;
    height: 58px;
  }

  @media screen and (min-width: 1200px) {
    width: 400px;
    height: 68px;
    margin-left: 60px;
    margin-top: 94px;
  }
}

.header-headphones {
  width: 445px;
  height: 410px;
  position: static;

  @media screen and (min-width: 768px) {
    position: absolute;
    width: 354px;
    height: 394px;
    top: 0;
    right: 0;
  }

  @media screen and (min-width: 1200px) {
    width: 700px;
    height: 598px;
    position: absolute;
    top: 0;
    right: -80px;
  }
}
.cancellation-img {
  width: 420px;
  height: 420px;

@media screen and (min-width: 768px) {
width: 354px;
  height: 394px;
  right: -23px;
    position: absolute;
    top: 0;
  }

    @media screen and (min-width: 1200px) {
width: 660px;
  height: 598px;
  right: -30px;
    }

}
.cancellation-pos {
  position: relative;
}