@media screen and (min-width: 480px) {
.luxury__title {
// font-size: 24px;
// width: 278px;
// margin-left: auto;
// margin-right: auto;
// margin-bottom: 32px;
}
.luxury__img {
    background-image: url('/src/images/luxury_phone.png');
    // width: 440px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
    background-size: cover;
}
.luxury-list {
    display: block;
}
.luxury-list__item {
    width: 410px;
    margin-bottom: 45px;
}
}
.luxury__title {
    font-family: var(--font-family);
font-weight: 600;
font-size: 36px;
line-height: 120%;
letter-spacing: 0.02em;
text-transform: uppercase;
color: #e7e7e7;
margin-bottom: 32px;
}
@media screen and (min-width: 768px){
.luxury__title {
    text-align: right;
}
.luxury__img {
    background-image: url('../images/luxury-tablet-bg.jpg');
    width: 100%;
    // height: 293px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    position: absolute;
    top: 55px;
    left: 0;
    background-size: contain;
}
.luxury-list__title {
    font-family: var(--font-family);
font-weight: 600;
font-size: 20px;
line-height: 125%;
color: #e7e7e7;
}
.luxury-list__text {
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 145%;
color: rgba(255, 255, 255, 0.8);
}
.luxury-list {
    display: flex;
    margin-left: 60px;
    margin-top: 435px;
}
.luxury-list__item {
    width: 294px;
}
.crystal {
    margin-left: 60px;
}
}
@media screen and (min-width: 1200px){
.luxury__title {
    margin-left: 640px;
}
.luxury__img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
     position: absolute;
    top: 55px;
    left: 0;
    
}
.luxury-list__item {
width: 510px;
}
.luxury-list__title {
    font-family: var(--font-family);
font-weight: 600;
font-size: 28px;
line-height: 125%;
color: #e7e7e7;
}
.luxury-list__text {
    font-family: var(--font-family);
font-weight: 400;
font-size: 20px;
line-height: 145%;
color: rgba(255, 255, 255, 0.8);
}
}
.luxury {
    background-color: #101010;
    // padding-bottom: 100px;
    position: relative;
}
// .container {
//     width: 1200px;
//     margin: 0 auto;
//     padding: 0 15px;
// }n
.luxury__title {
    font-family: var(--font-family);
font-weight: 600;
font-size: 32px;
line-height: 120%;
letter-spacing: 0.02em;
text-transform: uppercase;
color: #e7e7e7;
margin-bottom: 50px;
// margin-left: 700px;
}
.luxury__img {
    // background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
   
}
.luxury-list__title {
    font-family: var(--font-family);
font-weight: 600;
font-size: 20px;
line-height: 125%;
color: #e7e7e7;
padding-bottom: 20px;
}
// .luxury-list {
//     display: flex;
//      align-items: center;
//     justify-content: center; 
//     column-gap: 40px;
// }
.luxury-list__item {
    // width: 510px;
    // margin-left: 40px; 
    // column-gap: 30px;
}
// .crystal {
//     padding-left: 40px;
// }
.luxury-list__text {
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 145%;
color: rgba(255, 255, 255, 0.8);
}
