@import '~node_modules/modern-normalize/modern-normalize.css';
.container {
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

body {
  margin: 0%;
  background-color: #101010;
  /* background-color: black; */
}

html {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "ABeeZee";
  margin: 0;
}

.register-form__button {
  border: 1px solid #df3d3a;
  background-color: inherit;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
  position: relative;
}

@media screen and (min-width: 480px) {
  .premium-design {
    position: relative;
    height: 940px;
  }
  .premium-position {
    margin-left: 20px;
    margin-right: 35px;
  }
  .premium-design__title {
    font-size: 37px;
    width: 400px;
  }
  .premium-design-list__item {
    margin-bottom: 24px;
  }
  .premium-design-list__title {
    font-size: 28px;
    margin-bottom: 16px;
  }
  .premium-design-list__text {
    width: 440px;
    font-size: 18px;
  }
  .premium-design__img {
    width: 440px;
    height: 430px;
    position: absolute;
    bottom: 0;
    left: 20px;
    right: 20px;
  }
}
@media screen and (min-width: 768px) {
  .premium-design {
    height: 540px;
  }
  .premium-position {
    margin: 0;
  }
  .premium-design__img {
    position: static;
    width: 354px;
    height: 540px;
  }
  .premium-design-list__title {
    font-size: 20px;
  }
  .premium-design-list__text {
    font-size: 16px;
    width: 294px;
  }
  .premium-design-list {
    margin-left: 65px;
  }
  .premium-design-list__item {
    margin-bottom: 45px;
  }
}
@media screen and (min-width: 1200px) {
  .premium-design {
    height: 616px;
  }
  .premium-design__title {
    font-size: 54px;
    width: 460px;
  }
  .premium-design-list {
    margin-left: 100px;
  }
  .premium-design-list__title {
    font-size: 28px;
  }
  .premium-design-list__text {
    font-size: 22px;
    width: 510px;
  }
  .premium-design__img {
    position: static;
    width: 590px;
    height: 616px;
  }
}
.premium-design {
  width: 100%;
}

.premium-position {
  display: flex;
}

.premium-design__title {
  font-family: var(--font-family);
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #e7e7e7;
}

.premium-design-list__title {
  font-family: var(--font-family);
  font-weight: 600;
  line-height: 125%;
  color: #e7e7e7;
}

.premium-design-list__text {
  font-family: var(--font-family);
  font-weight: 400;
  line-height: 145%;
  color: rgba(255, 255, 255, 0.8);
}

@media screen and (min-width: 480px) {
  .luxury__img {
    background-image: url("/src/images/luxury_phone.png");
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
    background-size: cover;
  }
  .luxury-list {
    display: block;
  }
  .luxury-list__item {
    width: 410px;
    margin-bottom: 45px;
  }
}
.luxury__title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 36px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #e7e7e7;
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .luxury__title {
    text-align: right;
  }
  .luxury__img {
    background-image: url("../images/luxury-tablet-bg.jpg");
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    position: absolute;
    top: 55px;
    left: 0;
    background-size: contain;
  }
  .luxury-list__title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    line-height: 125%;
    color: #e7e7e7;
  }
  .luxury-list__text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 145%;
    color: rgba(255, 255, 255, 0.8);
  }
  .luxury-list {
    display: flex;
    margin-left: 60px;
    margin-top: 435px;
  }
  .luxury-list__item {
    width: 294px;
  }
  .crystal {
    margin-left: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .luxury__title {
    margin-left: 640px;
  }
  .luxury__img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 55px;
    left: 0;
  }
  .luxury-list__item {
    width: 510px;
  }
  .luxury-list__title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 28px;
    line-height: 125%;
    color: #e7e7e7;
  }
  .luxury-list__text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 145%;
    color: rgba(255, 255, 255, 0.8);
  }
}
.luxury {
  background-color: #101010;
  padding-bottom: 100px;
  position: relative;
}

.luxury__title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #e7e7e7;
  margin-bottom: 50px;
}

.luxury__img {
  background-repeat: no-repeat;
  background-position: center;
}

.luxury-list__title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 125%;
  color: #e7e7e7;
  padding-bottom: 20px;
}

.luxury-list__text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 145%;
  color: rgba(255, 255, 255, 0.8);
}/*# sourceMappingURL=index.css.map */