<section class="bose">
  <div class="container bose-position">
    <div class="">
       <h2 class="bose__title">Bose AR</h2>
  <!-- <ul class="bose-list">
    <li class="bose-list__item"> -->
      <h3 class="bose-list__title">Brand name technology</h3>
      <p class="bose-list__text">
        Bose AR is a unique audio platform augmented reality, that opens before
        you new facets of sound. It allows you to stay connected to the real
        world and immerse yourself in the virtual universe at the same time.
      </p>
    <!-- </li>
  </ul> -->
   </div>
   <img src="/src/images/img-brand.jpg" alt="" class="bose-earphones__img"/>
  
  </div>
</section>
