<section class="creators">
    <div class="container  creaters-pos">
        <!-- <div class="creators-div"> -->
            <h2 class="creators-title">brand 
                creation 
                history</h2>
                <svg class="creators-title__svg">
                    <use href="/src/icons/symbol-defs-creations.svg#icon-creations-line__svg"></use>
                </svg>
                <ul class="creators-list">
                    <li class="creators-list__item">
                         <p class="creators-item__text">The history of Bose Corporation began 
                    with disappointment. In 1956, MIT graduate student Amar Bose bought one of the best stereo systems at the time for his home.
                    After a few minutes of listening to the audio recording, his bewilderment turned 
                    to disappointment. </p>
                    </li>
                    <li class="creators-list__item">
                        <p class="creators-item__text">The history of Bose Corporation began 
                        with disappointment. In 1956, MIT graduate student Amar Bose bought one of the best stereo systems at the time for his home.
                        After a few minutes of listening to the audio recording, his bewilderment turned 
                        to disappointment. </p>
                    </li>
                </ul>
                        <p class="p-brand_lv2">Bose's frustration grew into a firm determination to build audio equipments that would reproduce sound 
                with impeccable accuracy and naturalness</p>
                        <img class="lv-1-img" src="/src/images/img-creators.jpg" alt="">               
        <div class="div-creator">
            
            
            <div class="text2-div">
           
                <svg class="svg_2">
                    <use href="/src/icons/symbol-defs-creations.svg#icon-creations-red__svg"></use>
                </svg>
                <h3 class="h3-lv2">Never stop dreaming. Always dream of the best, and think about how to achieve it.</h3>
        <p class="p-lv2s">Amar Bose is a company founder </p>
            </div>
            <img class="lv-2-img" src="/src/images/img-creator.jpg" alt="">
        </div>
    </section>
    </div>    