<section class="features">
  <div class="container">
    <h2 class="features__title">capable<br> of so much</h2>
    <ul class="features-list">
      <li class="features-list__item">Ability to receive calls</li>
      <li class="features-list__item">Rich and powerful sound</li>
      <li class="features-list__item">Active noise cancellation option</li>
      <li class="features-list__item">Unsurpassed microphone system</li>
      <li class="features-list__item">Support of voice assistants</li>
      <li class="features-list__item">Bose AR Augmented Reality Audio Platform</li>
    </ul>
  </div>
</section>