<footer class="footer">
      <div class="container">
        <div class="footer__position">
        <div class="footer-info">
        <h2 class="footer__title">Feedback</h2>
      <p class="footer__text">We'll help you find the right headphones for you.</p>
      </div>
      <form class="register-form">
        <div class="register-form__desc">
        <label for="name" class="register-form__label">Your name</label>
            <input type="text" id="name" class="register-form__input" />
          </div>
          <div class="register-form__desc">
            
            <label for="email" class="register-form__label">Your e-mail</label>
            <input type="text" id="email" class="register-form__input" />
          </div>
          <div class="register-form__desc">
            <label for="text" class="register-form__label input__comment">Send us a message</label>
            <input
              type="text"
              id="text"
              class="register-form__input "
            />
            
        </div>
        <div class="agreement-div">
          <label class="agreement__label"
            ><input type="checkbox" class="checkbox"
          /></label>
          <p class="checkbox__desc">
            I agree to the<a href="#" class="agreement__link"
              >privacy policy</a
            >
          </p>
          
        </div>
        <button type="button" class="register-form__button">send</button>
        </form>
         
          </div>
      <div class="footer-div__list">
        <ul class="footer-list">
        <li class="footer-list__item"><a href="#" class="footer-list__link">Characteristics</a></li>
        <li class="footer-list__item"><a href="#" class="footer-list__link">Payment and delivery</a></li>
        <li class="footer-list__item"><a href="#" class="footer-list__link">History</a></li>
        <li class="footer-list__item"><a href="#" class="footer-list__link">Store addresses</a></li>
        <li class="footer-list__item"><a href="#" class="footer-list__link">Reviews</a></li>
        <li class="footer-list__item"><a href="#" class="footer-list__link">FAQ</a></li>
      </ul>
      <p class="footer__phone">8 (800) 111-11-11</p>
      </div>
      
      </div>

    </footer>