<section class="section-5">
<div class="container guarantees-pos">
    <div class="section-content">
    <h2 class="logo-5">Guarantees</h2>
    <ul class="advantages">
        <li class="advantages-text">
            <h3 class="advantages-h">90 Day Money Back Guarantee</h3>
            <p class="advantages-np">If you are not 100% satisfied with a product, you can return it back for a full refund.</p>
        </li>
        <li class="advantages-text">
            <h3 class="advantages-h">1 year warranty</h3>
            <p class="advantages-np">Regardless of your country of residence,
                if your headphones are broken, we will 
                send you new ones.</p>
            </li>
        </ul>
        
        <svg class="guarantees-svg">
                    <use href="/src/icons/symbol-defs-creations.svg#icon-creations-line__svg"></use>
                </svg>
        </div>
        <img class="logo-img" src="images/headphones-guarantees.jpg" alt="">
</div>
    </section>