<header class="header">
    <div class="container header__position">
        <a class="header-logo__link" href="">
                <svg class="header__logo">
                <use href="/src/icons/symbol-defs.svg#icon-bose-logo"></use>
            </svg>
            </a>
            <button type="button" class="menu-open js-open-menu">
            <svg class="burger-menu__svg">
                <use href="/src/icons/burger_icon.svg#icon-burger_menu"></use>
            </svg>
        </button>
        <nav class="nav">
          <ul class="nav__list">
            <li class="nav__item">
              <a href="#" class="nav__link">Characteristics</a>
            </li>
            <li class="nav__item">
              <a href="#" class="nav__link">History</a>
            </li>
            <li class="nav__item">
              <a href="#" class="nav__link">Reviews</a>
            </li>
            <li class="nav__item">
              <a href="#" class="nav__link">Payment and delivery</a>
            </li>
          </ul>
        </nav>
</header>
<div class="class__modal js-menu-container is-open">
        <svg class="modal-menu__logo" >
            <use href="./icons/symbol-defs.svg#icon-bose-logo"></use>
        </svg>
        <button type="button" class="modal-close">
            <svg class="modal-close__icon js-close-menu"> 
                <use href="./icons/symbol-defs(2).svg#icon-modal-close"></use>
            </svg>
        </button>
        <ul class="modal__list">
            <li class="modal-item">
              <a href="#" class="modal-item__link">Characteristics</a>
            </li>
            <li class="modal-item">
              <a href="#" class="modal-item__link">History</a>
            </li>
            <li class="modal-item">
              <a href="#" class="modal-item__link">Reviews</a>
            </li>
            <li class="modal-item">
              <a href="#" class="modal-item__link">Payment and delivery</a>
            </li>
          </ul>
</div>
