<header>
    <div class="container">
        <nav class="nav">
          <ul class="nav__list">
            <li class="nav__item">
              <a href="#" class="nav__link">Characteristics</a>
            </li>
            <li class="nav__item">
              <a href="#" class="nav__link">History</a>
            </li>
            <li class="nav__item">
              <a href="#" class="nav__link">Reviews</a>
            </li>
            <li class="nav__item">
              <a href="#" class="nav__link">Payment and delivery</a>
            </li>
          </ul>
        </nav>
        <p class="header__cancellation">
          Noise cancellation headphones that are capable for a lot of things
        </p>
        <p class="header__playback">
          Up to 20 hours of playback
        </p>
        <h1 class="header__title">Headphones Bose NC 700</h1>
        <button class="header-order__button">Order</button>
        <img src="./images/headphones-black_header.jpg" alt="black-headphones">
</header>