<section class="purchase">
  <div class="container purchase-pos">
    <div class="perchase-position">
      <h2 class="purchase__title">bose nc 700</h2>
      <img
        id="colorImage"
        src="/src/images/headphones-black.jpg"
        alt="headphones-black"
        class="purchase-img"
      />
      <!-- <img src="img.png" alt="Image" /> -->
      <div class="buttons-div">
        <button id="blackButton" class="purchase-btn__black"></button>
        <button id="whiteButton" class="purchase-btn__white"></button>
      </div>

      <ul class="purchase-ul">
        <li class="purchase-ul__item">
          <p class="purchase-ul__text">Availability in stores</p>
          <svg class="purchase-ul__svg">
            <use href="/src/icons/symbol-defs2.svg#icon-svg-pointer-up"></use>
          </svg>
        </li>
        <li class="purchase-ul__item">
          <p class="purchase-ul__text">Characteristics</p>
          <svg class="purchase-ul__svg">
            <use href="/src/icons/symbol-defs2.svg#icon-svg-pointer-up"></use>
          </svg>
        </li>
        <li class="purchase-ul__item">
          <p class="purchase-ul__text">Payment and delivery methods</p>
          <svg class="purchase-ul__svg">
            <use href="/src/icons/symbol-defs2.svg#icon-svg-pointer-up"></use>
          </svg>
        </li>
      </ul>
      <p class="purchase__desc">14 999 UAH</p>
      <button class="purchase__btn">order</button>

      <!-- <img
        src="/src/images/bg-feedback(480px).jpg"
        alt=""
        class="bg-feedback__min"
      /> -->
      <div class="feedback-bg">

      </div>
      <!-- <img id="colorImage" src="images/white.png" alt="headphones-black" class="purchase-img__white"> -->
    </div>
  </div>
</section>
