<div>
    <section class="carousel-sect">
  <div class="carousel">
        <div class="carousel-content" id="carousel-content">
            <!-- Слайды -->
            <div class="video-container">
               <iframe class="carousel-item__video" src="https://www.youtube.com/embed/VqP11Ma_2Fk?si=NP7AUY-OCJWjww9a" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" frameborder="0" allowfullscreen></iframe>
               <div class="text-content" id="carousel-content">
            <h3 class="text-content__title">REVIEWS</h3>
            <h4 class="text-content__link">Bose Corporation</h4>
            <!-- Текст для каждого слайда -->
            <div class="text-section active" id="text-0">
                <p class="text-section-desc">Critically acclaimed for their powerful noise cancelling, astonishing sound, and unrivaled voice pickup, Bose Noise Cancelling Headphones 700 help turn any space into the perfect place to listen to music, get work done, or just shut out the world for a few moments and relax. </p>
            </div>
              <div class="numbers min">
                <span data-index="0" class="active">01 -</span>
                <span data-index="1" >02 -</span>
                <span data-index="2" >03</span>
            </div>
            </div>
             
            </div>
            <div class="video-container">
                <iframe class="carousel-item__video" src="https://www.youtube.com/embed/BUyLpf-u97Y?si=EDZjsvOr2uULrneR" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" frameborder="0" allowfullscreen></iframe>
                <div class="text-content" id="carousel-content">
            <h3 class="text-content__title">REVIEWS</h3>
            <h4 class="text-content__link">Bose Corporation</h4>
            
            <div class="text-section active" id="text-1">
                <p class="text-section-desc">Bose Noise Cancelling Headphones 700 deliver everything you expect — and things you never imagined possible. The perfect balance of quiet, comfort, and sound. </p>
            </div>
             <div class="numbers average">
                <span data-index="0" class="active">01 -</span>
                <span data-index="1" >02 -</span>
                <span data-index="2" >03</span>
            </div>
            </div>
               
            </div>
            <div class="video-container">
                 <iframe class="carousel-item__video" src="https://www.youtube.com/embed/NgtznBDFRUo?si=YowQyZf39qOe5dAn" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" frameborder="0" allowfullscreen></iframe>
                <div class="text-content" id="carousel-content">
            <h3 class="text-content__title">REVIEWS</h3>
            <h4 class="text-content__link">Bose Corporation</h4>
            <!-- Текст для каждого слайда -->
            <div class="text-section active" id="text-2">
                <p class="text-section-desc">Real stories of people tuning in or out to feel peace, find escape, and for self-care </p>
            </div>
             <div class="numbers big">
                <span data-index="0" class="active">01 -</span>
                <span data-index="1" class="active">02 -</span>
                <span data-index="2" >03</span>
            </div>
            </div>
                
            </div> 
        </div>
        </div>
    </div>
</section>

</div>
