.register-form__button {
    // width: 510px;
    // height: 68px;
    border: 1px solid #df3d3a;
    background-color: inherit;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
    // margin-top: 90px;
    position: relative;
}